.site-width {
  margin: auto;
  max-width: 1000px; }

.bingo-board {
  margin: auto;
  width: 85%; }

.bingo-square {
  border: blue 1px solid;
  display: inline-block;
  height: 140px;
  margin: 5px;
  text-align: center;
  width: 140px; }
  .bingo-square span {
    display: block;
    padding: 5px;
    position: relative;
    top: 50%;
    transform: translateY(-50%); }

.has-square {
  background-color: #f0f; }
