@import url('https://fonts.googleapis.com/css?family=Cinzel');
$site-bg-color: #1c2124;
$site-text-color: #dbdbdb;
$bg-grey: #5a5a64;
$successful-green: #325446;
$border-light: #ccc;
$border-dark: #333;
$grey: #808080;
$tooltip-bg: #181818;
$white: #fff;
$hero-small: #b2b2b2;
$link-on-grey: #9cf;

body {
  background-color: $site-bg-color;
  color: $site-text-color;
  font: 12px 'Cinzel', sans-serif;
  font-weight: 600;
  margin: auto;
}

.site-hero {
  margin: auto;
  position: relative;
  text-align: left;
  width: 524px;

  h1 {
    margin: 0;
  }

  button {
    background-color: $bg-grey;
    border-bottom: 1px solid $border-dark;
    border-left: 1px solid $border-light;
    border-right: 1px solid $border-dark;
    border-top: 1px solid $border-light;
    color: $site-text-color;
    margin-bottom: 5px;
  }
}

.bingo-board {
  margin: auto;
  width: 540px;
}

.user-input {
  display: inline-block;
  padding-bottom: 10px;
  width: 524px;

  input[type="number"],
  input[type="text"] {
    background: transparent;
    border: 0;
    border-bottom: 1px solid $site-text-color;
    color: $site-text-color;
    font: 12px 'Cinzel', sans-serif;
    outline: 0;
    text-align: left;
    width: 120px;
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    margin: 0;
    -webkit-appearance: none;
  }

  input[type=number] {
    -moz-appearance: textfield;
  }

}

.bingo-square {
  background-color: $bg-grey;
  border: $grey 2px solid;
  display: inline-block;
  height: 100px;
  margin: -2px -1px;
  text-align: center;
  width: 100px;
  z-index: 100;

  span {
    display: block;
    padding: 5px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

.has-square {
  background-color: $successful-green;
}

.tooltip {
  background-color: $tooltip-bg;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  color: $white;
  font-family: Arial;
  font-size: 12px;
  font-weight: 300;
  line-height: 12px;
  margin-left: -18px;
  margin-top: 2px;
  opacity: 0;
  padding: 8px;
  position: absolute;
  text-align: center;
  transition: .5s;
  visibility: hidden;
  width: 120px;
  z-index: 300;
}

.bingo-square:hover .tooltip {
  opacity: 1;
  padding-top: 10px;
  visibility: visible;
}

.form-and {
  color: $hero-small;
  font-size: 10px;
  font-style: italic;
  padding-top: 5px;
}

.form-or {
  color: $hero-small;
  font-style: italic;
  padding: 0 5px;
}

.inline-block {
  display: inline-block;
}

.how-to {
  left: 155px;
  position: absolute;
  top: 24px;

  .help {
    background-color: $bg-grey;
    border-bottom: 1px solid $border-dark;
    border-left: 1px solid $border-light;
    border-right: 1px solid $border-dark;
    border-top: 1px solid $border-light;
    color: $site-text-color;
    padding: 3px 5px;
    text-align: center;
    width: 60px;
  }

  .instructions {
    background-color: $bg-grey;
    border: $grey 2px solid;
    left: 128px;
    opacity: 0;
    padding: 8px;
    position: absolute;
    top: 0;
    transition: .5s;
    visibility: hidden;
    width: 200px;

    a {
      color: $link-on-grey;
      text-decoration: none;
    }
  }
}

.how-to:hover .instructions {
  opacity: 1;
  visibility: visible;
}
